<!-- <div class='card'>
    <div class='card-header'>
      ToDo List
    </div>
    <div class='card-body'>
      <div *ngIf='todos.length'>
        <div *ngFor='let todo of todos'>
          <mat-card class="todo-card">
            <mat-card-title>{{todo.name}}</mat-card-title>
            <mat-card-content>
              <span>{{todo.body}}</span>
              <br>
              <span>{{todo.city}}</span>
            </mat-card-content>
            <mat-card-actions>
              <span fxFlex="10%">
                <button mat-icon-button  style="background-color: #424242;"(click)="Edit(true)" *ngIf="!InEdit">
                  <mat-icon>edit</mat-icon>
                </button>
              </span>
              <span fxFlex="10%">
                <button style="background-color: #424242;" mat-icon-button (click)="Delete()">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </mat-card-actions>
          </mat-card>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div> -->