<amplify-authenticator>
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <mat-toolbar style="background-color: #424242;">
      <span>Welcome {{ user.username }}!</span>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <button style="background-color: #047D95;"><a routerLink="/todo" class="navigate-todo" style="color: white;">Todo</a></button>
      <span class="sign-out-spacer"></span>
      <button mat-button (click)="signOut()" style="background-color: #047D95;">
        Sign Out
      </button>
    </mat-toolbar>
    <br>
    <br>
  </ng-template>
</amplify-authenticator>